.Abt_head_text {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 90px;
  color: white;
}
.chris {
  height: 600px;
}
.about_chris {
  padding-top: 130px;
  background-color: #ceab838b;
  margin-bottom: 60px;
}
.ceo {
  font-family: "Nunito Sans", sans-serif;
  font-size: 60px;
  font-weight: 900;
}
.chris_bio {
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  margin-top: 15px;
}
.chris_div {
  max-width: 500px;
}

.staff_img {
  height: 300px;
}
.Lab_text {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 70px;
  color: hotpink;
}
.ice_wh{
    height: 500px;
}
.history{
    padding-top: 100px;
    padding-bottom: 100px;
}